parameters:
    database_host: 127.0.0.1
    database_port: 27017
    database_name: easytaxi-symfony-cache
    secret: et
    cache_host: 127.0.0.1
    cache_port: 6379
    cache_prefix:
    cache_password: cache
