parameters:
    database_host: mongodb
    database_port: 27017
    database_name: easytaxi-symfony-cache
    secret: et
    cache_host: redis
    cache_port: 6379
    cache_prefix:
    cache_password: cache
